<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">No data found.</h1>
        <hr />
        <a class="btn btn-outline-success align-middle" asp-controller="Services" asp-action="Index">Return to Home</a>
    </div>
</div>