<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2 class="text-danger">Access denied.</h2>
        <p>Your account does not have access to this page.</p>
        <hr />
        <a class="btn btn-outline-success align-middle" asp-controller="Services" asp-action="Index">Return to Home</a>
    </div>
</div>