@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Ce este Workload?</h1>
    <p class="lead">
        Workload este o platformă pentru freelanceri pentru a-și face publicitate și a-și vinde serviciile și pentru ca oamenii să găsească oameni pasionați pentru munca lor.
    </p><br />
    <div class="row">
        <div class="col-md-4">
            <h2>Ușor de folosit</h2>
            <p>
                Workload este conceput pentru a fi ușor de utilizat, 
                ceea ce facilitează conectarea freelancerilor și clienților. 
                Interfața curată și intuitivă a platformei asigură o navigare lină. 
                Pentru freelanceri, configurarea profilului și crearea servicilor sunt simplificate cu formulare clare. 
                Clienții pot găsi și evalua fără efort freelanceri folosind profile și recenzii detaliate, 
                iar comandarea servicilor este rapidă și simplă.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Câștigă bani din hobby-ul tău</h2>
            <p>
                A face bani nu a fost niciodată mai ușor. 
                Concentrați-vă pe furnizarea de servicii de înaltă calitate pentru a vă construi o reputație puternică, 
                care va atrage mai mulți clienți și va duce la recenzii pozitive. 
                Comunicarea eficientă și construirea de relații pe termen lung cu clienții pot asigura afaceri repetate și un venit constant.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Găsiți cel mai bun serviciu</h2>
            <p>
                Folosind Workload ca client, puteți găsi cu ușurință servicii de înaltă calitate navigând pe site. 
                Filtrele de căutare ale platformei vă ajută să identificați profesioniști cu aptitudinile și 
                experiența specifice de care aveți nevoie.
            </p>
        </div>
    </div>
</div>