@model Service

@{
    ViewData["Title"] = "Add a new service";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Service</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group text-center">
                        <img class="rounded-circle" id="PicPreview" width="150" height="150" alt="" />
                    </div>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="form-group">
                            <label asp-for="FreelancerId" class="control-label"></label>
                            <input asp-for="FreelancerId" class="form-control" />
                            <span asp-validation-for="FreelancerId" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="ServicePicURL" class="control-label"></label>
                        <input asp-for="ServicePicURL" class="form-control" />
                        <span asp-validation-for="ServicePicURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceName" class="control-label"></label>
                        <input asp-for="ServiceName" class="form-control" />
                        <span asp-validation-for="ServiceName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceDescription" class="control-label"></label>
                        <input asp-for="ServiceDescription" class="form-control" />
                        <span asp-validation-for="ServiceDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServicePrice" class="control-label"></label>
                        <input asp-for="ServicePrice" class="form-control" />
                        <span asp-validation-for="ServicePrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Manage">Show all</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('PicPreview');
            output.src = $(this).val();
        })

        $('#ServicePicURL').on("change", function () {
            var output = document.getElementById('PicPreview');
            output.src = $(this).val();
        })
    </script>
}